<p>formpage works!</p>
<div style="text-align:right">
    <img src="./assets/img/logo.png"><br />
</div>
<p-card header="Registro de visitantes" [style]="{ width: '360px' }">
    <form action="formulario" method="post">
        <div style="text-align:center">
            <img src="./assets/img/no foto.png" alt="no foto" width="150" height="150"><br />
        </div>
        <ul>
            <li>
                <label for="id">Numero de Documento:</label>
                <input type="int" id="documentNumber" name="user_documentNumber" />
            </li>
            <li>
                <label for="name">Nombre:</label>
                <input type="text" id="name" name="user_name" />
            </li>
            <li>
                <label for="lastname">Apellido:</label>
                <input type="text" id="lastname" name="user_lastname" />
            </li>
            <li>
                <label for="cardNumber">Numero de Ficha:</label>
                <input type="int" id="cardNumber" name="user_cardNumber" />
            </li>
        </ul>
        <p-button label="Registrar" icon="pi pi-check"></p-button>
    <p-button label="Cancelar" icon="pi pi-times" styleClass="p-button-secondary"
        [style]="{ 'margin-left': '.5em' }"></p-button>
    </form>
</p-card>